.App {
  padding: 1px;
}

/* ----------------- LOGIN/ LOG OUT SECTION ---------------- */

.login-box, .signup-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}


/* ----------------- POST SECTION ---------------- */

.post-top-bar {
  height: 58px;
  width: 100%;
  padding: 10px 16px;
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 10px;
}

.post-top-bar b {
  margin: auto 0 ;
}

.post-bottom-section {
  padding: 10px 16px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.like-comment-post, .user-comment-post {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

/* ----------------- COMMENT SECTION ---------------- */

.back-icon {
  scale: 2.5;
  cursor: pointer;
  width: 50px;
}


.comment-section-owner, .user-comment-name {
  font-weight: bold;
  font-size: 14px;
}

.comment-section-owner-date, .user-comment-date {
  color: grey;
  font-size: 12px;
  margin-left: 5px;
}

.comment-section-owner-description, .user-comment-description {
  margin-right: 1rem;
}


/* ----------------- PROFILE SECTION ---------------- */

.Edit-profile-bio {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}


